<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form action = "/myForm" method="post">
        <input type = "text" name = 'Movies' placeholder = "type movie here separated my comma">
        <input type = "Submit" value = "Send"> 
    </form>
</body>

</html>